:root {
  --font-inter: 'Inter', sans-serif;
  --font-poppins: 'Poppins', sans-serif;
  --font-sansita: 'Sansita', sans-serif;

  --login-gradient-start: #0f3057; 
  --login-gradient-end: #008891;

  --button-gradient-start: #143151;
  --button-gradient-end: #23a6ab;

  --light-bg: #e6f1f5;
  --text-muted: #777777;
}